/*
  Page to be styled after html and javascript
  are further along
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap');

body {
  margin: 0;
  padding: 0px;
}

main {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 850px;
  height: 100vh;
  min-height: 500px;
  background-color: hsl(243, 30%, 13%);
  color: white;
}

main h1 {
  font-weight: 900;
}

nav {
  margin: 0;
  padding-left: 8vw;
  padding-right: 8vw; 
  display: flex;
  min-width: 500px;
  height: 65px;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-left-option h3 {
  margin: 0;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px; 
  font-size: 1rem;
  font-weight: 400;
  color: #CCC;
}

.nav-left-option h3:hover {
  text-decoration: underline;
  text-underline-offset: 20px;
  color: white;
  cursor: pointer;
}

.nav-left-current h3 {
  margin: 0;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px; 
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 20px;
  color: white;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-right img {
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 1rem;
  font-weight: 400;
  filter: invert(78%) sepia(5%) saturate(40%) hue-rotate(316deg) brightness(87%) contrast(88%);
}

.nav-right img:hover {
  cursor: pointer;
}

.home-section {
  margin: auto;
  font-family: 'Inter', sans-serif;
  padding-bottom: 10vh;
}

.home-content {
  width: 50vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:500px;
  
}


.home-greeting img {
  height: 40vh;
  max-height: 400px;
}

.home-form {
  
}

.home-form-region {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin:auto;
  margin-bottom: 10px;
  min-width: 270px;
}

.region-icon-selected {
  background-color: #D4AC2B;
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 3px;
  font-size: .75rem;
  color: white
}

.region-icon-nonselected {
  background-color: white;
  color: black;
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 3px;
  font-size: .75rem;
}

.region-icon-nonselected:hover {
  background-color: #CCC;
}

.home-form-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 30vw;
  min-width: 250px;
  max-width: 500px;
  border-radius: 40px;

}

.home-form-search img {
  max-height: 20px;
  max-width: 20px;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

.home-form-search-name {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

.home-form-search-name-input {
  border: none;
  outline: none;
  height: 30px;   
  padding: 0;
  width: 100%;
}

.home-search-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 500px;
  padding:0;
}

.home-search-history-title h4{
  color: white;
  margin-bottom: 0; 
}


.home-search-history-list ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-gap: 75px;
  color: white;
}

.home-search-history-list a {
  font-family: 'Inter', sans-serif;
  color: white;
  text-decoration: none;
}

.home-search-history-list a:hover {
  
  text-decoration: underline;
}


.dashboard {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 65px);
  width: 100%
}

.dashboard-left {
  width: 26vw;
  min-width: 300px;
  padding-top: 20px;
  padding-left: 8vw;
  padding-right: 8vw;
  background-color: hsl(243, 30%, 16%);
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: auto;
}

.dashboard-left-tile {
  background-color: hsl(243, 30%, 26%);
  border-radius: 10px;
}

.dashboard-left-tile-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-left-tile-name-icon {
  margin-top: 20px;
  position: relative;
}

.dashboard-left-tile-name-icon img {
  width: 8vw;
  min-width: 100px;
  border: 3px solid #B05E27;
  border-radius: 8px;
  overflow: hidden;
}

.dashboard-left-tile-name-icon p {
  position: absolute;
  bottom: -25px;
  left: 50%;
  padding: 2px;
  transform: translate(-50%);
  background-color: #7E370C;
  font-weight: 600;
  border-radius: 5px;
}

.dashboard-left-tile-name h2 {
  margin-top: 5px;
}

.dashboard-left-tile-unranked {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.dashboard-left-tile-unranked span {
  color: #CCC;
}

.dashboard-left-tile-rank {
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding: 10px;
  margin-bottom: 10px;
}

.dashboard-left-tile-rank-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.dashboard-left-tile-rank-icon img {
  width: 100px;
}

.dashboard-left-tile-rank-icon-text {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-left-tile-rank-icon-text h4 {
  padding: 0;
  margin: 0;
  font-size: .625rem;
}

.dashboard-left-tile-rank-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
  padding-left: 20px;
}

.dashboard-left-tile-rank-info h3, h4, h5 {
  margin: 0;
  margin-top: 10px;
} 

.dashboard-left-tile-rank-info h3 {
  font-size: 1.2rem;
}

.dashboard-left-tile-rank-info h4 {
  font-size: 1rem;
  color: #D4AC2B;
}

.dashboard-left-tile-rank-info h5 {
  font-size: .8rem;
  color: #CCC;
}

.dashboard-left-tile-champions {

}


.dashboard-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 400px;
  height: auto;
  overflow: auto;
}

.dashboard-main-nav {
  font-family: 'Roboto', sans-serif;
  padding-left: 8vw;
  padding-right: 8vw; 
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsl(243, 30%, 10%);

}

.dashboard-main-nav-current h3 {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-top: 20px;
  font-size: .8rem;
  font-weight: 400;
  color: white;
  text-decoration: underline;
  text-underline-offset: 18px;
}


.dashboard-main-nav-option h3 {
  margin: 0;
  padding-right: 20px; 
  padding-top: 20px;
  font-size: .8rem;
  font-weight: 400;
  color: #CCC;
}

.dashboard-main-nav-option h3:hover {
  text-decoration: underline;
  text-underline-offset: 18px;
  color: white;
  cursor: pointer;
}

.dashboard-main-content {
  padding-top: 30px;
  padding-left: 8vw;
  padding-right: 8vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow: auto;
  font-family: 'Inter', sans-serif;
}

.dashboard-main-content-info {
  background-color: hsl(243, 10%, 26%);
  border-radius: 10px;
  padding: 10px;
  margin: 0;
}


.dashboard-main-content-match-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-main-content-match {
  border-radius: 10px;
  padding: 10px;
  margin: 0;
}

.dashboard-main-content-match.win {
  background-color: hsl(243, 50%, 26%);
}

.dashboard-main-content-match.loss {
  background-color: hsl(356, 50%, 26%);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(243, 30%, 16%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(243, 30%, 26%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(243, 30%, 36%);
}
